<h2> Estadísticas </h2>

<table cellspacing="10">
  		<tr><td align="left">Número de Preguntas .- <%= data.numQuizes %></td></tr>
  		<tr><td align="left">Número de Comentarios .- <%= data.numComments %></td></tr>
  		<tr><td align="left">Media de Comentarios por Pregunta .- <%= data.avg %></td></tr>
  		<tr><td align="left">Número de Preguntas con Comentarios .- <%= data.numQuizesComment %></td></tr>
  		<tr><td align="left">Número de Preguntas sin Comentarios .- <%= data.numQuizesNoComment %></td></tr>
</table>